<%  
 var lineup = [
    {
      name: "Shredders",
      genre: "Hip-Hop",
      why: "P.O.S and Sims on the raps, Lazerbeak and Paper Tiger on the beats.",
      video: "P72qu8FFPC8"
    },
    {
      name: "Kitten Forever",
      genre: "Punk",
      why: "Kitten Forever is a Minneapolis-based drums and bass trio. Their distinctly danceable and minimalist punk rock is infused with pop sensibilities and a streamlined, energetic performance where Laura Larson, Corrie Harrigan, and Liz Elton switch instruments seamlessly throughout their live shows as well as in their recorded work. Kitten Forever believes in each other, pets, magic, and you.",
      video: "4C2GaqsAB7I"
    }
  ];
%> 

<% for(i=0; i<lineup.length; i++){ %>
    <div class="card text-white artist-card genre all-artists">
            <div class="side">
              <div class="card-header">
                <h4 id="" class="card-title"> <%= lineup[i].name %></h4>
              </div>
              <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= lineup[i].video %>?rel=0" allowfullscreen></iframe>
              </div>
              <div class="card-body">
                <span class="genre"> <%=lineup[i].genre %></span>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
<% } %>
