<!-- views/partials/footer.ejs -->


<div class="fixed-bottom ">
  
  <nav class="bottom-menu">
      <div class="" role="group" aria-label="Button group with nested dropdown">
        <a class="bottom-bar" href="/artists" role="button">all &nbsp;&nbsp;<span id="art-badge"class="badge badge-danger"></span></a>
        <a class="bottom-bar" href="/user/<%= currentUser.id %>/inbox2" role="button">rate &nbsp;&nbsp;<span id="rate-badge" class="badge badge-danger"></span></a>
        
      </div>
  </nav>   

   
  
</div>
   
    <script>
     function getRateBadge(){
      fetch('https://blockparty.pizzaluce.com/api/users/<%= currentUser.id %>/inbox')
      .then(function(res){
        return res.json()
      }).then(function(data){
        var badgeNum = data.length;
        if(data.length > 0){
          document.getElementById('rate-badge').innerText = badgeNum;
          document.getElementById('topbadge').innerText = badgeNum;
        }
        
      });
     }
     getRateBadge();
     
     function getArtistBadge(){
       fetch('https://blockparty.pizzaluce.com/api/artists')
       .then(function(res){
         return res.json()
       }).then(function(data){
         var artBadge = data.length;
         if(data.length > 0){
           document.getElementById('art-badge').innerText = artBadge;
           
         }
         
       });
     }
    getArtistBadge();
    
    
     getArtistBadge();
     function getRatingBadge(){
       fetch('https://blockparty.pizzaluce.com/api/ratings')
       .then(function(res){
         return res.json()
       }).then(function(data){
         var ratingBadge = data.length;
         if(data.length > 0){
           document.getElementById('ratings-badge').innerText = ratingBadge;
         }
       })
     }
     getRatingBadge();
     
     
     
    </script>     

</body>
</html>