<div class="container-fluid landing-header">
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="landing-nav">
  <nav id="topNav">
    <ul>
      <li><a href="/">News</a></li>
      <li><a href="/artists">About</a></li>
      <li><a href="/rating">Contact</a></li>
    </ul>
  </nav>
</div>