
<% include partials/head %>

      
    <!--  <div class="wrap">
        
      
        <div class="login-page container">
          
          <div class="form form-card new-artist">
            
            <form action="/register" method="POST" class="register-form" >
              <h4 class="news">Let's Get you Set Up!</h4>
              <img src="https://pizzaluce.com/assets/logo-16.png" width="50px">
              <input class="register-input" type="text" placeholder="first name" name="fname"/>
              <input class="register-input" type="text" placeholder="last name" name="lname"/>
              <input class="register-input" type="text" placeholder="email address" name="email"/>
              <input class="register-input" type="text" placeholder="phone number" name="phone"/>
              <input class="register-input" type="text" placeholder="username" name="username"/>
              <input class="register-input" type="password" placeholder="password" name="password"/>
              <button type="submit">create</button>
              <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form action="/login" method="post" class="login-form">
              <h4 class="news">Pizza Lucé Block Party Login</h4>
              <img src="https://pizzaluce.com/assets/logo-16.png" width="50px">
              <input class="register-input" type="text" placeholder="Username" name="username"/>
              <input class="register-input" type="password" placeholder="Password" name="password"/>
              <button type="submit">login</button>
              <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
          </div>
        </div> -->
        

<div class="wrap">
  <div class="login-page container ">
    <div class="form-card form new-artist">
       <h4 class="news">Login!</h4>
      <img src="https://pizzaluce.com/assets/logo-16.png" width="50px">
      <div class="form-group">
        <p>Register and login with Facebook, Twitter or Goggle.</p>
        <a class="btn btn-primary" href="auth/facebook">facebook</a>
        <a class="btn btn-info" href="auth/twitter">Twitter</a>
        <a class="btn btn-danger" href="auth/google">Google</a>
        
      </div>
    </div>
  </div>

  
  
</div>


      </div>

       
           


<script>
  $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>
<% include partials/scripts %> 
</body>
</html>

