<% include partials/head %>



<div class="wrap">
  <div class="login-page container ">
    <div class="form-card form new-artist">
       <h4 class="news">Login!</h4>
      <img src="https://pizzaluce.com/assets/logo-16.png" width="50px">
      <div class="form-group">
        <p>Register and login with Facebook, Twitter or Goggle.</p>
        <a class="btn btn-primary" href="auth/facebook">facebook</a>
      </div>
    </div>
  </div>
</div>




<% include partials/scripts %>