<!-- Header -->
<% include ../partials/head %>

<% if (currentUser) { %>
<% include ../partials/footer %>
<% } %>

<div  class="container-fluid overlay">
  <div id="gallery-list" class="d-flex flex-row flex-nowrap art-gallery list">
  <% include ../partials/user-artists-gallery %>
  </div>
</div>

<div id="tag-cloud2">
  <div id="board" class="table-responsive board3">
    <div "card-body inbox-ratings">
      <div class="user-inbox-rating-header2 rating-comment2 container">
        <h6 class="rating-header-text"> Artists submitted by <%=currentUser.username %>&nbsp;&nbsp;<span id="submittedNum"></span></h6>
      </div>
    </div>
   </div>
</div>

<div id="board" class="table-responsive">
 <% include ../partials/leaderboard %>
</div>

<script>
function getUserSubmitted(){

  fetch('/api/users/<%= currentUser.id %>/artists')
  .then(function(res){
    return res.json();
  }).then(
    function(data){
      submitted = data.length;
      console.log(data);
      console.log(submitted);
      
      //var submitted = data.length;
     // 
      document.querySelector('#submittedNum').innerHTML=submitted;
    });
}
 getUserSubmitted(); 
  
  
</script>

<% include ../partials/add-artist %>    
<% include ../partials/scripts %>
