<!-- Artist Index Page -->

<% include ../partials/head %>


<div  class="container-fluid overlay">
  <div id="gallery-list" class="d-flex flex-row flex-nowrap art-gallery list">
  <% include ../partials/all-artists-gallery %>
  </div>
</div>
<div id="tag-cloud">
    <% include ../partials/tag-cloud %>
</div>
    


<div id="board" class="table-responsive">
 <% include ../partials/leaderboard %>
</div>

<!-- Front End JS -->

<script>
$('#booked').click(function(){
    $('#gallery-list').load('artists/booked');
});
$('#fullartists').click(function(){
    $('#gallery-list').load('artists/all');
    getRatings();
});


</script>


<% include ../new-artist %>
<% include ../partials/scripts %>
<% if (currentUser) { %>
<% include ../partials/footer %>
<% } %>